{
  "singleQuote": true,
  "printWidth": 100,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
