@mixin focus-ring {
  box-shadow: 0 0 0 1px var(--sc-color-focus);
}

@mixin surface {
  background-color: var(--sc-color-surface);
  border: 1px solid var(--sc-color-border);
  border-radius: var(--sc-radius-lg);
}
