$spacing: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 0.75rem,
  lg: 1rem,
  xl: 1.5rem,
  xxl: 2rem,
  control: 2.75rem,
);

@layer tokens {
  :root {
    @each $token, $value in $spacing {
      --sc-space-#{$token}: #{$value};
    }
  }
}
